* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  text-align: center;
}

resolution {
  padding: 20px;
}

input {
  margin: 0.25in auto;
  font-size: 15px;
}

canvas {
  border: 1px dashed grey;
}