* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #6f6f6f;
}

label{
  padding-left: 5em;
  padding-right: 0.25em;
}
label,
input {
  text-align: center;
}

canvas {
  background-color: #5683cc;
}